<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.3.1759" newVersion="8.0.3.1759" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.3.1759" newVersion="8.0.3.1759" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Nui.ServiceModel" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.3.1759" newVersion="8.0.3.1759" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>